/* style here */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}

label[for="uname"],
label[for="psw"] {
  margin-bottom: 10px;
}

button[type="submit"] {
  width: 300px;
  padding: 12px 20px;
  background-color: #2f7a9a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: lightblue;
}

button[type="submit"]:active {
  transform: scale(0.95);
}

.psw {
  float: right;
  margin-top: 10px;
}
